.banner {
  /* @see https://q.qq.com/wiki/develop/miniprogram/frame/view/view_qss_all.html - 兼容 iphone8 以下设备 */
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250rpx;

  background: #222;
}

.banner image {
  width: 120rpx;
  height: 120rpx;
}

.banner text {
  margin-top: 20rpx;

  color: #fff;
  font-weight: bold;
  font-size: 38rpx;
}
